body{
    background-color:#0f2026;
	display: flex;
	flex-wrap:wrap;
	height:100vh;
	width:100vw;
	margin-right:-8px;
	margin-left:-8px;
}
.image{
	max-height:100%;
	max-width:80%;
	text-align:center;
}

.header{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
}
.header2{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
}
.box1{
	height:100vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;


}
.grz{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
	text-align:center;
}
.mine{
	content:url(Images/elogo.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.frost{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
	text-align:center;
}

.bear{
	content:url(Images/bear.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}

.valkyrie{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
	text-align:center;
}

.black{
	content:url(Images/cam.jpg);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.jager{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
	text-align:center;
}

.bandit{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
	text-align:center;
}
.ban{
	content:url(Images/ban.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}

.tachanka{
	height:33.4%;
	width:50%;
	background-color:#FF6D0D;
	text-align:center;
}

.box2{
	height:100vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;
}

.iq{
	height:33.3%;
	width:50%;
	background-color:#09142F;
	text-align:center;
}

.iqg{
	content:url(Images/eyes.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.hibana{
	height:33.3%;
	width:50%;
	background-color:#09142F;
	text-align:center;
}

.pel{
	content:url(Images/hib.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.thatcher{
	height:33.3%;
	width:50%;
	background-color:#09142F;
	text-align:center;
}

.light{
	content:url(Images/emp.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.glaz{
	height:33.3%;
	width:50%;
	background-color:#09142F;
	text-align:center;
}
.snipe{
	content:url(Images/detail.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.twitch{
	height:33.3%;
	width:50%;
	background-color:#09142F;
	text-align:center;
}

.shock{
	content:url(Images/tlogo.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
.jackal{
	height:33.4%;
	width:50%;
	background-color:#09142F;
	text-align:center;
}

.spain{
	content:url(Images/feet.png);
	max-height:100%;
	max-width:80%;
	text-align:center;
}
@media screen and (max-width: 800px) {
    .box1{
        width:100vw;
	margin-left:40px;
	padding-bottom:18%;
		}
	.box2{
	width:100vw;
	margin-left:0px;
	}
	.header{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
	}
.header2{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
	}
img{
	max-height:100%;
	max-width:80%;
	text-align:center;
	}
}
@media screen and (max-width: 1000px) {
    .box1{
        width:100vw;
	margin-left:0px;
	padding-bottom:18%
    }
	.box2{
	width:100vw;
	margin-left:0px;
}
	.header{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
}
.header2{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
	}
	img{
	max-height:100%;
	max-width:80%;
	text-align:center;
	}
}
@media screen and (max-width: 400px) {
    .box1{
        width:100vw;
	margin-left:0px;
	padding-bottom:18%;
    }
	.box2{
	width:100vw;
	margin-left:0px;
	}
	.header{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
	}
		.header2{
	width:100%;
	height:18%;
	text-align:center;
	font-size:50px;
	}
		img{
	max-height:100%;
	max-width:80%;
	text-align:center;
	}
}

