  body{
    background-color:#0f2026;
	display: flex;
	flex-wrap:wrap;
	height:100vh;
	width:100vw;
	 margin:0%;
}

.box1{
	height:60vh;
	width:40vw;
	display:flex;
	flex-wrap:wrap;
	padding-left:5%;
	padding-right:5%;
}
.ela{
	height:33.3%;
	width:50%;
	background-color:pink;
}
.frost{
	height:33.3%;
	width:50%;
	background-color:purple;
}
.valkyrie{
	height:33.3%;
	width:50%;
	background-color:orange;
}
.smoke{
	height:33.3%;
	width:50%;
	background-color:green;
}
.bandit{
	height:33.4%;
	width:50%;
	background-color:white;
}
.tachanka{
	height:33.4%;
	width:50%;
	background-color:yellow;
}
.box2{
	height:60vh;
	width:40vw;
	display:flex;
	flex-wrap:wrap;
	padding-left:5%;
	padding-right:5%;
	
}
.iq{
	height:33.3%;
	width:50%;
	background-color:pink;
}
.hibana{
	height:33.3%;
	width:50%;
	background-color:purple;
}
.thatcher{
	height:33.3%;
	width:50%;
	background-color:orange;
}
.glaz{
	height:33.3%;
	width:50%;
	background-color:green;
}
.twitch{
	height:33.4%;
	width:50%;
	background-color:white;
}
.jackal{
	height:33.4%;
	width:50%;
	background-color:yellow;
}
.box{
	height:50vh;
	width:50vw;
	padding-top:5%;
	display:flex;
	flex-wrap:wrap;
	background-color:yellow;
	margin-left:17.5%;
	margin-right:17.5%;

}
	
@media screen and (max-width: 800px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
	.box{
		width:100vw;
	}
}
@media screen and (max-width: 1000px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
	.box{
		width:100vw;
	}
}
@media screen and (max-width: 400px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
	.box{
		width:100vw;
	}
}
