.dropbtn{
  background-color:#B5B29F;
  Color:black;
  padding:12px;
  font-size:16px;
  border:none;
  cursor:pointer;
}
.dropdown{
  position:relative;
  display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
  color:black;
  padding:12px 16px;
  display:block;
}
}
.dropdown-content a:hover{
  background-color:#DDDCD8
}
.dropdown:hover .dropdown-content{
  display:block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

  body{
    background-color:#0f2026;
	display: flex;
	flex-wrap:wrap;
	height:100vh;
	width:100vw;
	 margin:0%;
}

.box1{
	height:60vh;
	width:40vw;
	display:flex;
	flex-wrap:wrap;
	margin-left:5%;
	
}
.ela{
	height:33.3%;
	width:50%;
	background-color:pink;
}
.frost{
	height:33.3%;
	width:50%;
	background-color:purple;
}
.valkyrie{
	height:33.3%;
	width:50%;
	background-color:orange;
}
.smoke{
	height:33.3%;
	width:50%;
	background-color:green;
}
.bandit{
	height:33.3%;
	width:50%;
	background-color:white;
}
.tachanka{
	height:33.3%;
	width:50%;
	background-color:yellow;
}
.box2{
	height:60vh;
	width:40vw;
	display:flex;
	flex-wrap:wrap;
	margin-left:5%;
	
}
.iq{
	height:33.3%;
	width:50%;
	background-color:pink;
}
.hibana{
	height:33.3%;
	width:50%;
	background-color:purple;
}
.thatcher{
	height:33.3%;
	width:50%;
	background-color:orange;
}
.glaz{
	height:33.3%;
	width:50%;
	background-color:green;
}
.twitch{
	height:33.3%;
	width:50%;
	background-color:white;
}
.jackal{
	height:33.3%;
	width:50%;
	background-color:yellow;
}
@media screen and (max-width: 800px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
}
@media screen and (max-width: 1000px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
}
@media screen and (max-width: 400px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
}
