.hover{
  background-color:#B5B29F;
  Color:black;
  padding:12px;
  font-size:16px;
  border:solid;
  cursor:pointer;
}
.menu{
  position:relative;
  display:inline-block;
  display:flex;
}
.dropdown content a{
  color:black;
  padding:12px 16px;
  display:block;
}

  
