body{
    background-color:#0f2026;
	display: flex;
	flex-wrap:wrap;
	height:100vh;
	width:100vw;
	margin-right:-8px;
	margin-left:-8px;
}
.header{
	width:100%;
	height:15%;
	text-align:center;
	font-size:50px;
}
.header2{
	width:100%;
	height:15%;
	text-align:center;
	font-size:50px;
}
.box1{
	height:100vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;


}
.grz{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
}
.ela{
	height:100%;
	width:100%;
}
.mine{
	content:url(Images/mine.png);
	height:100%; 
	width:100%;
}
.frost{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
}
.leg{
	height:100%;
	width:100%;
}
.bear{
	content:url(Images/bear.png);
	height:100%; 
	width:100%;
}

.valkyrie{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
}
.eye{
	height:100%;
	width:100%;
}
.black{
	content:url(Images/eye.png);
	height:100%; 
	width:100%;
}
.jager{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
}
.jag{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
}
.bandit{
	height:33.3%;
	width:50%;
	background-color:#FF6D0D;
}

.tachanka{
	height:33.4%;
	width:50%;
	background-color:#FF6D0D;
}

.box2{
	height:100vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;

}

.iq{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.hibana{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}
.hib{
	height:100%;
	width:100%;
}
.pel{
	content:url(Images/pellet.png);
	height:100%;
	width:100%;
}
.thatcher{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.glaz{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.twitch{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.jackal{
	height:33.4%;
	width:50%;
	background-color:#09142F;
}

@media screen and (max-width: 800px) {
    .box1{
        width:100vw;
		margin-left:40px;
		}
	.box2{
		width:100vw;
		margin-left:0px;
	}
	.header{
	width:100%;
	height:15%;
	text-align:center;
	font-size:50px;
	}
.header2{
	width:100%;
	height:15%;
	text-align:center;
	font-size:50px;
	}
}

@media screen and (max-width: 400px) {
    .box1{
        width:100vw;
		margin-left:0px;
    }
	.box2{
		width:100vw;
		margin-left:0px;
	}
	.header{
	width:100%;
	height:15%;
	text-align:center;
	font-size:50px;
	}
.header2{
	width:100%;
	height:15%;
	text-align:center;
	font-size:50px;
	}

}

