.hover{
  background-color:#B5B29F;
  Color:black;
  padding:12px;
  font-size:16px;
  border:solid;
  cursor:pointer;
}
.menu{
  position:relative;
  display:inline-block;
}
.dropdown content a{
  color:black;
  padding:12px 16px;
  display:block;
}
.dropdown:hover .dropdown-content{
  display:block;
}
.dropdown-content a:hover{
  background-color:#DDDCD8
}
.dropdown:hover .menu {
    background-color: #3e8e41;
}
  
