   body{
    background-color:#0f2026;
	display: flex;
	flex-wrap:wrap;
	height:100vh;
	width:100vw;
	margin-left:90px;
	
}

.first {
	width: 50vw;
	height: 50vh;
	
}

.second {
	height: 50vh;
	width: 50vw;
}

.third {
	height: 30vh;
	width: 100vw;
}

.header{
	height:10%;
	width:100%;
	display:flex;
	font-size:40px;
	padding-bottom:20px;
}

.box1{
	height:60vh;
	width:40vw;
	display:flex;
	flex-wrap:wrap;
}
.grz{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}
.ela{
	height:100%;
	width:100%;
}
.mine{
	content:url(Images/mine.png);
	height:100%; 
	width:100%;
}
.frost{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}
.leg{
	height:100%;
	width:100%;
}
.bear{
	content:url(Images/bear.png);
	height:100%; 
	width:100%;
}

.valkyrie{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}
.eye{
	height:100%;
	width:100%;
}
.black{
	content:url(Images/eye.png);
	height:100%; 
	width:100%;
}
.smoke{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.bandit{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.tachanka{
	height:33.4%;
	width:50%;
	background-color:#09142F;
}

.box2{
	height:60vh;
	width:40vw;
	display:flex;
	flex-wrap:wrap;
	
	
}

.iq{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.hibana{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}
.hib{
	height:100%;
	width:100%;
}
.pel{
	content:url(Images/pellet.png);
	height:100%;
	width:100%;
}
.thatcher{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.glaz{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.twitch{
	height:33.3%;
	width:50%;
	background-color:#09142F;
}

.jackal{
	height:33.4%;
	width:50%;
	background-color:#09142F;
}

.box{
	height:40vh;
	width:90vw;
	display:flex;
	flex-wrap:wrap;
	background-color:#09142F;
}
@media screen and (max-width: 800px) {
    .box1{
        width:100vw;
		}
	.box2{
		width:100vw;
	}
	.box{
		width:100vw;
	}
	.first{
        width:100vw;
    }
}
@media screen and (max-width: 1000px) {
    .box1{
        width:100vw;
		}
	.box2{
		width:100vw;
	}
	.box{
		width:100vw;
	}
	.first{
        width:100vw;
	}
}
@media screen and (max-width: 400px) {
    .box1{
        width:100vw;
    }
	.box2{
		width:100vw;
	}
	.box{
		width:100vw;
	}
	.first{
        width:100vw;
    }
}
